<form class="detail-container" (ngSubmit)="submitAddToCart(Product)">
  <img src="{{ Product.url }}" />
  <div #elseBlock class="detail-item">
    <h1>{{ Product.name }}</h1>
    <p>${{ Product.price }}</p>
    <p>{{ Product.description }}</p>
    <div>
      <select
        class="select-input"
        [(ngModel)]="quantity"
        name="{{ Product.id }}"
      >
        <option *ngFor="let num of options" [ngValue]="num">
          {{ num }}
        </option>
      </select>
      <br />
      <button type="submit">Add to cart</button>
      <br />
      <br />

      <a class="back-link" routerLink="/">&larr; Back to product list</a>
    </div>
  </div>
</form>
